@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "GetAbout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

      @foreach (var item in Model)
        {

            <div class="col-md-4">

                <div>
                    <div class="col-xl-3 col-lg-8 col-md-6 mt-4">
                        <div class="card bg-transparent border-0 text-center">
                            <div class="card-img">
                                <img loading="lazy" decoding="async"  alt="Scarlet Pena" class="rounded w-100" width="500" height="500">
                                <ul class="card-social list-inline">
                                    <li class="list-inline-item">
                                        @*<a href="/Product/ProductDetails/@item.Id/"><i class="fas fa-external-link-alt"></i></a>*@
                                        <a href="/Admin/DeleteReference/@item.Id" onclick="return confirm('Silme istediğine emin misin');" class="btn btn-danger">Sil</a>
                                        <a class="nav-link" href="/Admin/EditReference/@item.Id/">Edit </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <h3><a href="/Admin/ProductDetails/@item.Id/" class="text-black">@item.AboutTitle</a></h3>
                            </div>
                            <div class="card-body">
                                <h3><a href="/Admin/ProductDetails/@item.Id/" class="text-black">@item.AboutDescription</a></h3>
                            </div> <div class="card-body">
                                <h3><a href="/Admin/ProductDetails/@item.Id/" class="text-black">@item.MissionTitle</a></h3>
                            </div><div class="card-body">
                                <h3><a href="/Admin/ProductDetails/@item.Id/" class="text-black">@item.MissionDescription</a></h3>
                            </div><div class="card-body">
                                <h3><a href="/Admin/ProductDetails/@item.Id/" class="text-black">@item.VisionTitle</a></h3>
                            </div><div class="card-body">
                                <h3><a href="/Admin/ProductDetails/@item.Id/" class="text-black">@item.VisionDescription</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

